<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All-users</title>
</head>

<body>
<H3>page: All users</H3>
<br/>

<!--    <div th:each="itemCar : ${arrCars}">-->
<!--      <a th:href="@{/cars/{id}(id=${itemCar.getId()})}"-->
<!--         th:text="${itemCar.getId()} + ' '-->
<!--             + ${itemCar.getModel()} + ' '-->
<!--             + ${itemCar.getSeries()} + ' '-->
<!--             + ${itemCar.getColor()}">car</a>-->
<!--    </div>-->
<!--    <br/><br/><br/>-->

<table border="2">
    <tr>
        <th style="width: 50px; background-color: lightcyan;">id</th>
        <th style="width: 120px; background-color: lightcyan;">FirstName</th>
        <th style="width: 150px; background-color: lightcyan;">LastName</th>
        <th style="width: 18%; background-color: lightcyan;">DateBirth</th>
        <th style="width: 20%; background-color: lightcyan;">Action</th>
    </tr>
    <tr th:each="itemUser : ${viewAllUsers}">
        <td style="text-align: center;" th:utext="${itemUser.getId()}">id</td>
        <td th:utext="${itemUser.getPersonality().getFirstName()}">FirstName</td>
        <td th:utext="${itemUser.getPersonality().getLastName()}">LastName</td>
        <td style="text-align: center;" th:utext="${itemUser.getPersonality().getDateBirth()}">DateBirth</td>
        <td style="text-align: center;"> <em> <a th:href="@{/users/view(user_id=${itemUser.getId()})}">View info</a> </em> </td>
    </tr>
</table>

<br/> <br/> <hr/> <br/>

<form th:method="GET" th:action="@{/users/new/}">
    <input type="submit" value="Create new user"/>
</form>

<br/>
</body>
</html>
