<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>View_user</title>
    </head>

    <body>
        <H3>page: View user</H3>
        <br/>

        <table border="5">
            <tr>
                <td style = "width: 150px; background-color: lightcyan; text-align: center;">Parametr</td>
                <td style = "width: 450px; background-color: lightcyan; text-align: center;">Value</td>
            </tr>

            <tr>
                <td></td>
                <td style = "width: 80px; background-color: aqua; text-align: center;">Personal info:</td>
            </tr>

            <tr>
                <td>Id</td>
                <td th:text="${viewUser.getId()}">Id</td>
            </tr>

            <tr>
                <td>First Name</td>
                <td th:text="${viewUser.getPersonality().getFirstName()}">FirstName</td>
            </tr>

            <tr>
                <td>Last Name</td>
                <td th:text="${viewUser.getPersonality().getLastName()}">LastName</td>
            </tr>

            <tr>
                <td>Patronymic</td>
                <td th:text="${viewUser.getPersonality().getPatronymic()}">Patronymic</td>
            </tr>

            <tr>
                <td>Date of birth</td>
                <td th:text="${viewUser.getPersonality().getDateBirth()}">Date of birth</td>
            </tr>

            <tr>
                <td></td>
                <td style = "width: 80px; background-color: aqua; text-align: center;">Address:</td>
            </tr>

            <tr>
                <td>Postal code</td>
                <td th:text="${viewUser.getAddress().getPostalCode()}">Postal code</td>
            </tr>

            <tr>
                <td>State</td>
                <td th:text="${viewUser.getAddress().getState()}">State</td>
            </tr>

            <tr>
                <td>City</td>
                <td th:text="${viewUser.getAddress().getCity()}">City</td>
            </tr>

            <tr>
                <td>Street</td>
                <td th:text="${viewUser.getAddress().getStreet()}">Street</td>
            </tr>


            <tr>
                <td>Home</td>
                <td th:text="${viewUser.getAddress().getHome()}">Home</td>
            </tr>


            <tr>
                <td>Corpus</td>
                <td th:text="${viewUser.getAddress().getCorpus()}">Corpus</td>
            </tr>


            <tr>
                <td>Flat</td>
                <td th:text="${viewUser.getAddress().getFlat()}">Flat</td>
            </tr>

            <tr>
                <td>Street</td>
                <td th:text="${viewUser.getAddress().getStreet()}">Street</td>
            </tr>



            <tr>
                <td></td>
                <td style = "width: 80px; background-color: aqua; text-align: center;">Contacts:</td>
            </tr>

            <tr>
                <td>Phone Numbers</td>
                <td th:text="${viewUser.getContact().getPhoneNumbers()}">PhoneNumbers</td>
            </tr>

<!--            телефоны-->
            <li th:each="phone : ${viewUser.getContact().getPhoneNumbers()}">
                <td>
                    <tr>
                        <span th:text="${phone.getDescription()}">Description</span>
                    </tr>
                    <tr>
                        <span th:text="${phone.getValue()}">Value</span>
                    </tr>
                </td>
            </li>
<!--            ***-->

            <tr>
                <td>Emails</td>
                <td th:text="${viewUser.getContact().getEmails()}">Emails</td>
            </tr>

            <tr>
                <td>URLs</td>
                <td th:text="${viewUser.getContact().getUrls()}">URLs</td>
            </tr>
            <tr>
                <td>URLs</td>
                <td th:text="${viewUser.getContact().getUrls()}">URLs</td>
            </tr>

            <tr>
                <td></td>
                <td style = "width: 80px; background-color: aqua; text-align: center;">Notes:</td>
            </tr>

            <tr>
                <td>Notes</td>
                <td th:text="${viewUser.getNotes()}">Notes</td>
            </tr>

        </table>

        <p th:text="'First Name: ' + ${viewUser.personality.firstName}"></p>
        <p th:text="'Last Name: ' + ${viewUser.personality.lastName}"></p>
        <p th:text="'Date of Birth: ' + ${viewUser.personality.dateBirth}"></p>

        <br/> <br/> <hr/> <br/>
<!--        <th:block th:if="${viewUser != null}">-->
<!--            &lt;!&ndash; форма с удалением &ndash;&gt;-->
<!--            <b>form with deletion/ user_id=</b>-->
<!--            <p th:text="'User ID: ' + ${viewUser.id}"></p>-->
<!--        </th:block>-->

        <form th:action="@{/users/edit}" method="get">
            <input type="hidden" name="user_id" th:value="${viewUser.getId()}" />
            <button type="submit">Edit this user</button>
        </form>
        <br/>

<!--        <a th:href="@{'/users/delete?user_id=' + ${viewUser.getId()}}">Delete User</a>-->

        <form th:action="@{/users/delete}" method="get">
            <input type="hidden" name="user_id" th:value="${viewUser.getId()}" />
            <button type="submit">Delete this user</button>
        </form>
        <br/>

        <form th:method="GET" th:action="@{/users/}">
            <input type="submit" value="To main page"/>
        </form>
        <br/>
    </body>
</html>
